extends layout/layout
block append header-nodes
    .wrapper
        div(search-offerts)
        .block: .label.label-base 
            | Start looking for a grant, donation or subsidy. Just write down in the search bar the keywords related to what you need.

block content
    .body
        .wrapper
            .block
                .sarch-helpers
                    .sarch-helpers-ul
                        -for (var i = categories.length - 1; i >= 0; i--)
                            .sarch-helpers-li
                                .sarch-helpers-li-inner
                                    h1.sarch-helpers-li-inner-header
                                        | !{svgIcon(categories[i].icon)}
                                        | #{categories[i].name}
                                    .sarch-helpers-li-inner-list
                                        -for (var j = categories[i].keywords.length - 1; j >= 0; j--)
                                            a(href="/search?query="+categories[i].keywords[j]).sarch-helpers-li-inner-list-item 
                                                em.mdi.mdi-chevron-right
                                                | #{categories[i].keywords[j]}
            
            mixin _articles_list_item(nth, title, desc, date)
                .articles-list-item
                    a(href="./search-results.html").articles-list-item-thumb
                        img(src="./assets/img/articles/" + nth + ".jpg", alt="")
                        .date #{date}
                    .articles-list-item-title: aa(href="#") #{title}
                    .articles-list-item-desc #{desc}
                    a(href="#").articles-list-item-more
                        em.mdi.mdi-chevron-right
                        | Read more

            .block
                .articles
                    .articles-header Custom header here
                    .articles-list
                        +_articles_list_item(1, 'The title', 'The desc,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In totam voluptatibus consectetur et odit provident corrupti!', '07.07.2017')
                        +_articles_list_item(2, 'The title', 'The desc,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In totam voluptatibus consectetur et odit provident corrupti!', '07.07.2017')
                        +_articles_list_item(3, 'The title', 'The desc,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In totam voluptatibus consectetur et odit provident corrupti!', '07.07.2017')