extends layout/layout
block append header-nodes
    .wrapper
        .block: .label.label-base Select the category you want to sponsor or donate
        
        mixin _category_selector_item(id, name, icon, active)
            a.category-selector-item(ng-class="{active:selectedCategory==" + id + "}", ng-click="selectedCategory="+id)
                .category-selector-item-inner
                    | !{svgIcon(icon)}
                    | #{name}
                    .radio-circle
            
        .block.block-select-category
            .category-selector
                +_category_selector_item(1, 'Personal care', 'icon-cat-personal-care')
                +_category_selector_item(2, 'Home care', 'icon-cat-home-care')
                +_category_selector_item(3, 'Support & assistance', 'icon-cat-support-and-assistance')
                +_category_selector_item(4, 'Sport', 'icon-cat-sport')
                +_category_selector_item(5, 'Therapy', 'icon-cat-therapy')
                +_category_selector_item(6, 'Education', 'icon-cat-education')
                +_category_selector_item(7, 'Transportation', 'icon-cat-transportation')
                +_category_selector_item(8, 'Health care', 'icon-cat-health-care')
                +_category_selector_item(9, 'Household expenses', 'icon-cat-household-expenses')

block content
    .body(ng-controller="MakeDonationCtrl")
        .wrapper
            .block-make-donation
                form(method="POST", action="/make-donation").form
                    .row
                        input(type="hidden", name="category_id", ng-value="selectedCategory")
                        .col.col-6: .form-group
                            label.form-label Products/service name
                            input(type="text", placeholder="Type it here", required, name="name").form-input
                        .col.col-3: .form-group
                            label.form-label Quantity offered
                            input(type="number", placeholder="Type it here", required, min="1", name="num_donations", value="1").form-input
                        .col.col-3: .form-group
                            label.form-label Total sum offered
                            input(type="text", placeholder="Type it here", min="1", name="max_donations").form-input
                        .col.col-6: .form-group
                            label.form-label Criteria setup:
                            .form-pane.active
                                .form-pane-content(ng-init="activeTab = {active: 'health'}")
                                    .row
                                        .col.col-2
                                            .list-group
                                                .list-group-item(
                                                ng-repeat="(key, group) in formData.groups", 
                                                ng-class="{active: key == activeTab.active}",
                                                ng-click="activeTab.active = key") 
                                                    | {{ group.title }}
                                                    em.mdi.mdi-chevron-right
                                            .list-group
                                                .button.button-white 
                                                    em.mdi.mdi-plus
                                                    | ADD NEW CRITERIA

                                        .col.col-2
                                            div(ng-show="activeTab.active == 'health'")
                                                div(ng-repeat="(group_key, group) in formData.groups")
                                                // inputs 
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Moving disabilities
                                                .form-pad-left
                                                    div(checkbox-input, toggle-class="checked").input-checkbox
                                                        input(type="checkbox", name="remember", value="1")
                                                        | !{svgIcon('icon-form-checkbox')}
                                                        | Disability level
                                                    .form-group
                                                        .form-error Error lorem ipsum dolor sit
                                                        select.form-input.chosen-select
                                                            option 1
                                                            option 2
                                                            option 3
                                                            option 4
                                                            option 5

                                                    div(checkbox-input, toggle-class="checked").input-checkbox
                                                        input(type="checkbox", name="remember", value="1")
                                                        | !{svgIcon('icon-form-checkbox')}
                                                        | Doctor validation
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Dislexia
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Learning disabilities
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | ADHD
                                            
                                            div(ng-show="activeTab.active == 'financial'")
                                                div(ng-repeat="(group_key, group) in formData.groups")
                                                // inputs 
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Income
                                                .form-pad-left
                                                    div(checkbox-input, toggle-class="checked").input-checkbox
                                                        input(type="checkbox", name="remember", value="1")
                                                        | !{svgIcon('icon-form-checkbox')}
                                                        | Specific value
                                                    .form-group
                                                        input(type="text", placeholder="Type it here").form-input

                                                    div(checkbox-input, toggle-class="checked").input-checkbox
                                                        input(type="checkbox", name="remember", value="1")
                                                        | !{svgIcon('icon-form-checkbox')}
                                                        | Range
                                                    .form-group
                                                        .row
                                                            .col.col-3: input(type="text", placeholder="Type it here").form-input
                                                            .col.col-3: input(type="text", placeholder="Type it here").form-input

                                                    div(checkbox-input, toggle-class="checked").input-checkbox
                                                        input(type="checkbox", name="remember", value="1")
                                                        | !{svgIcon('icon-form-checkbox')}
                                                        | Minimum
                                                    .form-group
                                                        input(type="text", placeholder="Type it here").form-input

                                                    div(checkbox-input, toggle-class="checked").input-checkbox
                                                        input(type="checkbox", name="remember", value="1")
                                                        | !{svgIcon('icon-form-checkbox')}
                                                        | Maximum
                                                    .form-group
                                                        input(type="text", placeholder="Type it here").form-input

                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | No tax debts
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Credit history
                                            
                                            div(ng-show="activeTab.active == 'studies'")
                                                div(ng-repeat="(group_key, group) in formData.groups")
                                                // inputs 
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Enrollment
                                                .form-pad-left
                                                    div(checkbox-input, toggle-class="checked").input-checkbox
                                                        input(type="checkbox", name="remember", value="1")
                                                        | !{svgIcon('icon-form-checkbox')}
                                                        | School
                                                    .form-group
                                                        input(type="text", placeholder="Type it here").form-input

                                                    div(checkbox-input, toggle-class="checked").input-checkbox
                                                        input(type="checkbox", name="remember", value="1")
                                                        | !{svgIcon('icon-form-checkbox')}
                                                        | Year of graduation (text field)
                                                    .form-group
                                                        input(type="text", placeholder="Type it here").form-input

                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Average grade
                                                .form-group
                                                    input(type="text", placeholder="Type it here").form-input
                                            
                                            div(ng-show="activeTab.active == 'location'")
                                                div(ng-repeat="(group_key, group) in formData.groups")
                                                // inputs 
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Living now
                                                .form-group
                                                    input(type="text", placeholder="Type it here").form-input
                                                    
                                                div(checkbox-input, toggle-class="checked").input-checkbox
                                                    input(type="checkbox", name="remember", value="1")
                                                    | !{svgIcon('icon-form-checkbox')}
                                                    | Coming from
                                                .form-group
                                                    input(type="text", placeholder="Type it here").form-input
                                                
                        .col.col-6: label.form-label Automatic incasso
                        .col.col-6
                            .row
                                .col.col-2: .form-group
                                    input(type="text", placeholder="NL XXXX YYYY YYYY YY").form-input
                                .col.col-2: .form-group
                                    input(type="text", placeholder="Account name").form-input
                                .col.col-2: .form-group
                                    a(href="/requests").button.button-primary.button-wide.pull-right CONFIRM DONATION

