.view-content
    .list-resources.list-resources-no-buttons
        .resource-item.resource-item-asset(
            ng-repeat="voucher in $ctrl.vouchers"
            ui-sref="wallet-voucher-view({voucherId: voucher.id})")
            .resource-value(ng-bind="voucher.name")
            .resource-label 2 dagen geldig
            .resource-amount(ng-bind="voucher.amount")

        mixin resource_item(value, label, amount)
            .resource-item.resource-item-asset
                .resource-value #{value}
                .resource-label #{label}
                .resource-amount #{amount}

        // +resource_item("Kindpakket", "2 dagen geldig", '€ 200,00')
        // +resource_item("Bike", "2 dagen geldig", '€ 200,00')
        // +resource_item("Kindpakket", "2 dagen geldig", '€ 200,00')
        +resource_item("Stempas", "{{ $ctrl.stem_points }} x Gemeenteraadsverkiezingen")

account-footer
