extends layout/layout
block append header-nodes
    .wrapper
        .block
            .label.label-base 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        
        mixin _category_selector_item(name, icon, active)
            a.category-selector-item(href="#", class=active?'active':'', toggle-class="active")
                .category-selector-item-inner
                    | !{svgIcon(icon)}
                    | #{name}
                    .radio-circle
            
        .block.block-select-category
            .category-selector
                +_category_selector_item('Personal care', 'icon-cat-personal-care')
                +_category_selector_item('Home care', 'icon-cat-home-care')
                +_category_selector_item('Support & assistance', 'icon-cat-support-and-assistance')
                +_category_selector_item('Sport', 'icon-cat-sport', true)
                +_category_selector_item('Therapy', 'icon-cat-therapy')
                +_category_selector_item('Education', 'icon-cat-education')
                +_category_selector_item('Transportation', 'icon-cat-transportation')
                +_category_selector_item('Health care', 'icon-cat-health-care')
                +_category_selector_item('Household expenses', 'icon-cat-household-expenses')

block content
    .body
        .wrapper
            .block-make-donation
                form.form
                    .row
                        .col.col-3: .form-group
                            label.form-label Business name
                            input(type="text", placeholder="Type it here").form-input
                        .col.col-3: .form-group
                            label.form-label KVK number
                            input(type="text", placeholder="Type it here").form-input
                    .row
                        .col.col-3: .form-group
                            label.form-label Telephone numbere
                            input(type="text", placeholder="Type it here").form-input
                        .col.col-3: .form-group
                            label.form-label Fax number
                            input(type="text", placeholder="Type it here").form-input
                    .row
                        .col.col-3: .form-group
                            label.form-label Email
                            input(type="text", placeholder="Type it here").form-input
                        .col.col-3: .form-group
                            label.form-label Website
                            input(type="text", placeholder="Type it here").form-input
                    .row
                        .col.col-6: .form-group
                            label.form-label Address, location (street name, number, postcode, city)
                            input(type="text", placeholder="Type it here").form-input
                    .row
                        .col.col-6
                            -var markers = [{position: [47.023715, 28.867148], title: 'POINT A', content: '<h4 class="marker-title"><a href="./details-hotel.html">POINT A</a></h4>'}];
                            -var map_view = [47.023715, 28.867148];
                            -var map_zoom = 11;
                            div(google-map, data-markers=JSON.stringify(markers), data-map-view=JSON.stringify(map_view), data-map-zoom=map_zoom, data-mark="accepted").block.block-map
                    .row
                        .col.col-6.text-right: input(type="submit", value="CREATE").button.button-primary.button-extrawide