extends layout/layout
block header-nodes
    .wrapper
        .block.block-search
            input(type="text", placeholder="Start your search now").input.block-search-input
            a(href="#").button.button-base.block-search-button SEARCH NOW
        .block.block-margin-bottom
            .label.label-light 
                h1.label-title Search results
                | Lorem ipsum dolor sit amet consectetur adipiscing 
                strong 19 
                | items
block content
    mixin citizen_results_item(name, type, active)
        .citizen-results-item(class=(active?'active':'') + ' citizen-results-item-' + type)
            .citizen-results-item-header
                em.mdi.mdi-chevron-up.up
                em.mdi.mdi-chevron-down.down
                | #{name}
                .citizen-results-item-header-status
                    if (type == 'accepted')
                        | Accepted
                        em.mdi.mdi-check
                    if (type == 'declined')
                        | Declined
                        em.mdi.mdi-close
                    if (type == 'pending')
                        | Pending
                        em.mdi.mdi-timer-sand
                    if (type == 'picked-up')
                        | Picked up
                        em.mdi.mdi-package-variant
            .citizen-results-item-content
                if (type == 'accepted')
                    .result-content
                        .result-content-aside
                            .result-content-label Source
                            .result-content-value Gemeente Zuidhorn

                            .result-content-label Product
                            .result-content-value Bike

                            .result-content-label Criteria checked:
                            .result-content-value 
                                | -  Income
                                br
                                | -  Enrollment
                                br
                                | -  Statistics

                            .result-content-label Supplier information:
                            .result-content-value Bike shop Groningen:

                            .result-content-label Find your product
                            .result-content-value.value-success 
                                | Bike shop Groningen 
                                span SUCCESS

                        .result-content-content
                            .block.block-token-code
                                .block-token-code-title Authorization Code
                                .block-token-code-code 01234567890ZXY01234567890
                            -var markers = [{position: [47.023715, 28.867148], title: 'POINT A', content: '<h4 class="marker-title"><a href="./details-hotel.html">POINT A</a></h4>'}, {position: [47.043715, 28.897148], title: 'POINT B', content: '<h4 class="marker-title"><a href="./details-hotel.html">POINT B</a></h4>'}];
                            -var map_view = [47.023715, 28.867148];
                            -var map_zoom = 11;
                            div(google-map, data-markers=JSON.stringify(markers), data-map-view=JSON.stringify(map_view), data-map-zoom=map_zoom, data-mark="accepted").result-content-map
                if (type == 'declined')
                    .result-content
                        .result-content-aside
                            .result-content-label Source
                            .result-content-value Gemeente Zuidhorn

                            .result-content-label Product
                            .result-content-value Bike

                            .result-content-label Criteria checked:
                            .result-content-value 
                                | -  Income
                                br
                                | -  Enrollment
                                br
                                | -  Statistics

                            .result-content-label Supplier information:
                            .result-content-value Bike shop Groningen:
                            
                            .result-content-label Find your product
                            .result-content-value.value-danger
                                | Bike shop Groningen 
                                span DECLINED

                        .result-content-content
                            .result-content-declined DECLINED
                if (type == 'pending')
                    .result-content
                        .result-content-aside
                            .result-content-label Source
                            .result-content-value Gemeente Zuidhorn

                            .result-content-label Product
                            .result-content-value Bike

                            .result-content-label Criteria checked:
                            .result-content-value 
                                | -  Income
                                br
                                | -  Enrollment
                                br
                                | -  Statistics

                            .result-content-label Supplier information:
                            .result-content-value Bike shop Groningen:
                            
                            .result-content-label Find your product
                            .result-content-value 
                                | Bike shop Groningen 

                        .result-content-content
                    .resul-actions.text-right
                        a(href="#").button.button-primary ACCEPT
                        a(href="#").button.button-dark DECLINE
                if (type == 'picked-up')
                    .result-content
                        .result-content-aside
                            .result-content-label Source
                            .result-content-value Gemeente Zuidhorn

                            .result-content-label Product
                            .result-content-value Bike

                            .result-content-label Criteria checked:
                            .result-content-value 
                                | -  Income
                                br
                                | -  Enrollment
                                br
                                | -  Statistics

                            .result-content-label Supplier information:
                            .result-content-value Bike shop Groningen:
                            
                            .result-content-label Find your product
                            .result-content-value.value-success
                                | Bike shop Groningen 
                                span SUCCESS

                        .result-content-content
                            .result-content-label Supplier location
                            -var markers = [{position: [47.023715, 28.867148], title: 'POINT A', content: '<h4 class="marker-title"><a href="./details-hotel.html">POINT A</a></h4>'}, {position: [47.043715, 28.897148], title: 'POINT B', content: '<h4 class="marker-title"><a href="./details-hotel.html">POINT B</a></h4>'}];
                            -var map_view = [47.023715, 28.867148];
                            -var map_zoom = 11;
                            div(google-map, data-markers=JSON.stringify(markers), data-map-view=JSON.stringify(map_view), data-map-zoom=map_zoom, data-mark="picked-up").result-content-map
    .body
        .wrapper
            .block.block-citizen-list
                .citizen-tabs
                    .citizen-tabs-item: a(href="#") ALL
                    .citizen-tabs-item: a(href="#") PENDING
                    .citizen-tabs-item: a(href="#") ACCEPTED
                    .citizen-tabs-item: a(href="#") PICKED UP
                    .citizen-tabs-item: a(href="#") DECLINED
                .citizen-results
                    +citizen_results_item('Lorem ipsum dolor sit amet consectetur adipiscing', 'declined', true)
                    +citizen_results_item('Lorem ipsum dolor sit amet consectetur adipiscing', 'accepted', true)
                    +citizen_results_item('Lorem ipsum dolor sit amet consectetur adipiscing', 'pending', true)
                    +citizen_results_item('Lorem ipsum dolor sit amet consectetur adipiscing', 'picked-up', true)
                    +citizen_results_item('Lorem ipsum dolor sit amet consectetur adipiscing', 'declined')
                    +citizen_results_item('Lorem ipsum dolor sit amet consectetur adipiscing', 'accepted')
                    +citizen_results_item('Lorem ipsum dolor sit amet consectetur adipiscing', 'pending')
                    +citizen_results_item('Lorem ipsum dolor sit amet consectetur adipiscing', 'picked-up')